<div class="container">
    <!--
      A forma que enviamos informações do componente filho (student-registry.component)
      para o componente pai (app.component) é através de eventos
      [student].
    -->
    <app-student-registry
    (aprovedCreated)="approvedAdded($event)"
    (substituteCreated)="substituteAdded($event)"
  >
  </app-student-registry>

  <!-- Students List -->
  <div class="row mt-4">
    <div class="col-12">
      <!--
        A forma que enviamos informações do componente pai (app.component)
        para o componente filho (student.component) é através da propriedade
        [student].
       -->
      <app-student
        *ngFor="let student of students"
        [student]="student"
      >
      </app-student>
    </div>
  </div>

</div>
